.menu-inline{
	
	position: relative;
    width: max-content;
	z-index: 1001;

	li{

		margin: 0.5em; 

		.menu-item.menu-item-selected{

			h4,
			a h4{
				color: #00a7b0;
			}
		}

		cursor: pointer;
		display: inline-flex;

		span h4,
		a h4{
			color: #253786;
			font-size: 1em;
		}

		&:hover a h4,
		&:hover span h4{
			color: #00a7b0;
		}

		@include respond-to('lg'){

			span h4,
			a h4{
				font-size: 1.6em;
			}
		}

		@include respond-to('wsga'){	
			
			span h4,
			a h4{
				font-size: 1em;
			}
		}
	}

	&:hover .menu{
		opacity: 1;
		top: 5vh;
		transition: all 0.7s;
	}
}

.menu-vertical{

	li{
		margin: 0.5em 0;
	}
}

.menu{

	display: flex;
	opacity: 0;
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	transition: all 0.7s;
	top: 0;

	li{
		margin: 1em 0.5em;

	}
}