.faqs{
    
    margin: 3% auto;
    width: 80%;

    .faqs-title h3{
        color: $white;
        font-size: 2.5em;
        font-weight: 600;
        text-align: center;
    }

    .faq{

        width: 100%;

        .faq-title-container{

            border-bottom: 0.2em solid $white;
            display: flex;
            height: 10vh;
            width: 100%;

            @include respond-to('lg') {
                height: 6vh;
            }

            .faq-title{
                margin: 0 1em;
                width: 90%;
            }

            .faq-title h3{
                color: $white;
                font-weight: 400;
            }

            .faq-plus-button {
                cursor: pointer;
                margin: 1em;
                @include plusMinus(1.5em, 0.2em, $white);
            }
        }

        .faq-title-container:hover{
            background-color: $blue-dark;
        }

        .faq-description{

            background-color: $white;
            display: flex;
            justify-content: space-between;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s;
            width: 100%;

            .faq-description-text{

                p{
                    color: $black;
                    font-weight: 200;
                    margin: 1em;
                }
            }

            .faq-description-image{
                min-width: max-content;
                padding: 1em;
            }
           
        }
    }

    .faq.active{
        
        .faq-title-container{
            background-color: $blue-dark;
        }

        .faq-description{
            max-height: 70vh;
        }
    }
    
}



