.menu-nestable-container{

    width: 100%;

    .menu-item-store {
        background-color: $interaction-color;
        cursor: pointer;
        display: flex;
        height: 2em;
        margin-bottom: 2em;
        padding: 0.5em 2.5em;
        position: relative;
        width: auto;

        .menu-item-store-icon{

            width: 20%;

            svg{

                height: 100%;
                width: 100%;

                path{
                    fill: $white;
                }
            }
        }

        .menu-item-store-title{

            margin: 0.3em 1em;
            width: 80%;

            span{
                color: $white;
                font-weight: 600;
            }
        }
    }

    .one-column{

        .form-group{
            width: 100%;
        }
    }
    
    .menu-nestable-list { 
        margin: 0; 
        padding: 0; 
    }
    
    .menu-nestable-list .menu-nestable-list { 
        padding-left: 3em; 
    }
    
    .menu-nestable-collapsed .menu-nestable-list { 
        display: none; 
    }

    .menu-nestable-item{

        display: block;
        position: relative;
        
        .menu-nestable-handle { 
            background: #fafafa;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box; 
            cursor: pointer;
            display: block;
            justify-content: space-between;
            font-weight: bold; 
            margin-bottom: 5px; 
            padding: 0.5em; 
            text-decoration: none; 
            
            &:hover { 
                color: $interaction-color; 
            }
        }
    
        .menu-item-actions{

            display: flex;
            position: absolute;
            top: 0.5em;
            right: 0;
    
            .menu-item-button {
    
                cursor: pointer;
                
                svg{
                    height: 2em;
                    margin: 0 0.5em;
                    width: 2em;
            
                    .menu-button-icon{
                        fill: hsl(0, 0%, 40%);
                    }
                }
            }
        
            .menu-item-button:hover{
            
                svg{
                    .menu-button-icon{
                        fill: $interaction-color;
                    }
                }
            }
        }
    }

    .menu-nestable-item > button { 
        color: $interaction-color;
        display: block; 
        position: relative; 
        cursor: pointer; 
        float: left; 
        width: 40px; 
        height: 37px; 
        padding: 0; 
        text-indent: 100%; 
        white-space: nowrap; 
        overflow: hidden; 
        border: 0; 
        background: transparent; 
        font-size: 2em; 
        line-height: 1; 
        text-align: center; 
        font-weight: bold; 
    }
    
    .menu-nestable-item > button:before { 
        content: '+'; 
        display: block; 
        position: absolute; 
        width: 100%; 
        text-align: center; 
        text-indent: 0; 
    }
    
    .menu-nestable-item > button[data-action="collapse"]:before { 
        content: '-'; 
    }
    
    .menu-nestable-placeholder,
    .menu-nestable-empty { 
        margin: 5px 0; 
        padding: 0; 
        min-height: 30px; 
        background: #f2fbff; 
        border: 1px dashed #b6bcbf; 
        box-sizing: border-box; 
        -moz-box-sizing: border-box; 
    }
}
