.modal-page-template{

    background-color: $white;
    height: 100vh;
    transform: translateY(-200%);
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -10%;
    transition: transform 0.5s;
    max-width: 100%;
    z-index: 3000;

    &.open{
        top: 0;
        transform: translateY(0);
    }

    .modal-page-template-header{
        background-color: $grey;
        display: flex;
        justify-content: space-between;
        padding: 0;

        .modal-header-title{

            padding: 1em 0 0 1em;
            width: auto;

            h4{
                font-size: 1.6em;
                margin: 0;
            }
        }

        .close-modal-button{

            padding: 1.5em 1em 0 0;

            svg{
                cursor: pointer;
                height: 2em;
                width: 2em;

                path{
                    fill: $black;
                }
            }
        }
        
    }

    .modal-page-template-body{

        display: flex;
        justify-content: space-between;
        height: 80%;
        padding: 2em 0em 0 0;

        .modal-column-items{
            padding: 2em 2em 0 2em;
            width: 15%;

            .modal-column-item{
                background-color: $interaction-color;
                border-radius: 0.5em;
                cursor: pointer;
                display: flex;
                height: 3em;
                padding: 0.5em;
                width: 100%;
            }

            .modal-column-item .modal-column-item-icon{
                svg{
                    height: 2em;
                    width: 2em;

                    path{
                        fill: $white;
                    }
                }
            }

            .modal-column-item .modal-column-item-title{

                padding: 0 1em;

                h4{
                    color: $white;
                    font-size: 1.5em;
                    margin: 0;
                }
            }

            .modal-form{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        .modal-column-items-options{

            padding: 2em 2em 0 2em;
            width: 15%;

            .modal-column-item-option{
               
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 0.2em solid #000;
                cursor: move;
                margin-bottom: 1em;
            }

            .one-column{
                height: 3em;
                width: 100%;
            }

            .two-columns{
                display: flex;
                height: 3em;
                width: 100%;
            }
        }

        .modal-screen-container{
            border: 0.2em solid  $grey;
            height: 90%;
            margin: 0 2em 0 2em;
            width: 960px;
        }
        
    }
    

    .modal-page-template-footer{

        .modal-footer-buttons{
            display: block;
            margin: auto;
            width: 20%;

            .btn-save{
                background-color: $interaction-color;
                border-color: none;
                border-radius: 0.5em;
                cursor: pointer;
                color: $interaction-text-color;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.5;
                padding: 0.5em 2em;
                text-align: center;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
                width: 100%;

                &:hover{
                    background-color: $interaction-color-highlight;
                }
            }
        }
    } 
}