/*Contents*/

img {
    max-width: 100%;
}

.hidden{
    opacity: 0;
}

.one-column{

    .form-group{
        width: 100%;
    }
}

.two-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 47%;
    }
}

.three-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 32%;
    }
}

.four-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 23%;
    }
}

.five-columns{
    display: flex;
    justify-content: space-between;

    .form-group{
        width: 18%;
    }
}