
body{
    background-color: $body-color;
}

.overlay{
    background-color: #000000;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    &.active{
        cursor: pointer;
        display: block;
        opacity: 0.5;
    }
}

.wrapper {
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

.main-content{

    top: 15vh;
    height: 80vh;
    width: 100%;
    position: relative;

    .two-columns{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .two-columns::-webkit-scrollbar {
        display: none; 
    }
}
