body{
    background-color: hsl(0, 0%, 95%);
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

.main-content{

    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    justify-content: space-between;
    margin: 0 3%;
    overflow-x: auto; 
    position: relative;
    top: 20vh;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
        display: none; 
    }
}
