.table{
    width: 30%;
}

.table-row {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid hsl(0, 0%, 73%);
    border-top: 1px solid hsl(0, 0%, 73%);
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.table-field-container{
    width: 100%;
}

.table-field{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 

    p{
        font-size: 0.8em;
        margin: 0;
        margin-right: 0.5em;

        span{
            color: hsl(183, 98%, 35%);
            font-weight: 600;
        }
    }
}

.table-icons-container{
    
    display: flex;
    justify-content: space-around;
    width: 20%;

    @include respond-to('lg'){
        width: 15%;
    }
}

.table-icons{ 

    &:hover{

        cursor: pointer;
    
        path {
            fill:  hsl(19, 100%, 50%);
        }
    }

    svg {

        width: 100%;
    
        path{
            fill: hsl(0, 0%, 50%);
        }
    }    
}
