.table{
    width: 45%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    max-width: 5em;
    padding: 0.5em;
    text-align: center;
}

td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

th {
    color: hsl(19, 100%, 50%);
    padding-top: 0;
}

tr td:last-child {
    width: 25%;
    white-space: nowrap;
}

.table-icons-container{
    display: flex;
    justify-content: space-around;
}

.table-icons{ 

    &:hover{

        cursor: pointer;
    
        path {
            fill:  hsl(19, 100%, 50%);
        }
    }

    svg {

        width: 100%;
    
        path{
            fill: hsl(0, 0%, 50%);
        }
    }    
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}