.modal-menu-item{

    background-color: $white;
    height: 80vh;
    transform: translateY(-200%);
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -10%;
    transition: transform 0.5s;
    max-width: 80%;
    z-index: 3000;

    &.open{
        top: 10%;
        transform: translateY(0);
    }

    .modal-header{
        background-color: $grey;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0;

        .modal-header-title{

            padding: 1em 0 0 1em;

            h4{
                font-size: 1.6em;
                margin: 0;
            }
        }

        .close-modal-button{

            cursor: pointer;
            position: absolute;
            right: 1em;
            top: 1em;

            svg{
                height: 2em;
                width: 2em;

                path{
                    fill: $black;
                }
            }
        }
        
    }

    .modal-menu-item-body{

        padding: 2em 2em 0 2em;

        .modal-form{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .modal-column{
            width: 32%;

            .description-container{
                .form-control{
                    height: 80%;
                }
            }

            .dropify-wrapper{
                height: 18em;
            }

            .sidebar-route{
                margin: 0.15em;
                padding-top: 0.6em;
            }
            
            #menu-links{
                border: 1px solid grey;
                padding: 0.5em;
                width: 100%;
            }

            .secondary-select-related option {

                &.hidden{
                    display:none;
                }
            }
        
            .select-display-option {
        
                display: none;
        
                &.visible{
                    display: grid;
                }
            }
        }
    }
    

    .modal-menu-item-footer{

        .modal-footer-buttons{
            display: block;
            margin: auto;
            width: 20%;

            .btn-save{
                background-color: $interaction-color;
                border-color: none;
                border-radius: 0.5em;
                cursor: pointer;
                color: $interaction-text-color;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.5;
                padding: 0.5em 2em;
                text-align: center;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
                width: 100%;

                &:hover{
                    background-color: $interaction-color-highlight;
                }
            }
        }
    } 
}