.modal-collection-images{

    background-color: $white;
    transform: translateY(-200%);
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -10%;
    transition: transform 0.5s;
    max-width: 35%;
    z-index: 3000;

    &.open{
        top: 10%;
        transform: translateY(0);
    }

    .modal-header{
        background-color: $grey;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0;

        .modal-header-title{

            padding: 1em 0 0 1em;

            h4{
                font-size: 1.6em;
                margin: 0;
            }
        }

        .close-modal-button{

            cursor: pointer;
            position: absolute;
            right: 1em;
            top: 1em;

            svg{
                height: 2em;
                width: 2em;

                path{
                    fill: $black;
                }
            }
        }
        
    }

    .modal-body{

        padding: 2em;

        .image-container{
        
            width: 100%;

            img{
                display: block;
                margin: auto;
                height: 20em;
            }

            input[type=file] {
                cursor: pointer;
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
            }
        }
    }
    
    .modal-footer{
    
        padding-bottom: 2em;
        
        .modal-footer-buttons{

            display: block;
            margin: auto;
            width: 50%;

            .btn-upload-image{
                background-color: $interaction-color;
                border-color: none;
                border-radius: 0.5em;
                cursor: pointer;
                color: $interaction-text-color;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.5;
                padding: 0.5em 2em;
                text-align: center;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
                width: 100%;

                &:hover{
                    background-color: $interaction-color-highlight;
                }
            }
        }
    } 
}