.upload-image,
.upload-image-add{
    align-items: center;
    border: 0.2em dashed hsl(183, 98%, 35%);
    color: #cccccc;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 30vh;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
}

.upload-image-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.upload-image.collection,
.upload-image-add.collection{
    height: 15vh;
    padding: 0;
}

.upload-image:hover,
.upload-image-add:hover{
    border: 4px dashed hsl(19, 100%, 50%);
}
  
.upload-image-over {
    border-style: solid;
}

.upload-image-prompt{
    position: absolute;
    width: 15%;
    z-index: 999;
}

.upload-image-options{
    display: none;
}

.upload-image:hover .upload-image-options{
    display: initial;
    position: absolute;
    width: 15%;
    z-index: 999;

    svg{
        height: 1.2em;
        width: 1.2em;

        path{
            fill: hsl(0, 0%, 100%);
        }
    }
}

.upload-image-input {
    display: none;
}

.upload-image-thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 80%);
    background-size: cover;
    position: relative;
    z-index: 900;
}

.upload-image-thumb::after {
content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

