.bottombar{

	display: flex;
	height: 10vh;
	justify-content: space-between;
	position: fixed;
	top: 90vh;
	width: 100%;
	z-index: 1001;

	.bottombar-item{

		background-color: hsl(183, 98%, 35%);
		text-align: center;
		width: 50%;

		&.bottombar-active{
			background-color: hsl(229, 57%, 34%) ;
		}

		svg{
			height: 1.5em;
			padding: 1em;
			width: 1.5em;

			path{
				fill: hsl(0, 0%, 100%);
			}
		}
	}
}
