
body{
    background-color: $body-color;
   
}

.wrapper {
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
}

.main-content{

    height: 75vh;
    position: relative;
    top: 10vh;
    width: 100%;
}
