.tabs{
    background-color: hsl(0, 0%, 84%);
}

.tabs-container{
    background-color: hsl(0, 0%, 84%);
    display: flex;
    justify-content: space-between;
}

.tabs-container-menu{

    width: 100%;

    ul{
        background-color: hsl(0, 0%, 84%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    li{
        color: hsl(183, 98%, 35%);
        cursor: pointer;
        padding: 1em 0.5em;
        text-align: center;
    }

    li.tab-active{
        background-color: hsl(183, 98%, 35%) ;
        color: $white;
    }
}

.tabs-container-buttons{

    display: flex;

    .crud-buttons-container{

        margin-top: 0.2em;
        padding: 0 0.5em;

        button{
            background-color: transparent;
            border: none;
        }

        .crud-buttons{

            outline: none;
    
            svg{
                width: 2.4em; 
                height: 2.4em;
                
                .store-button-icon{
                    fill: hsl(0, 0%, 50%);
                }

                .store-button-icon:hover{
                    fill: hsl(19, 100%, 50%);
                }
            }
        }
    }

    .switch-container{

        margin: 0.5em;
        position: relative;
            
        .onoffswitch {
            width: 4.6em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border-radius: 0.4em;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .onoffswitch-inner:before,
        .onoffswitch-inner:after {
            box-sizing: border-box;
            color: $white;
            display: block;
            float: left;
            font-family: $font-stack;
            font-size: 14px;
            font-weight: 600;
            height: 2em;
            line-height: 2em;
            padding: 0;
            width: 50%;
        }

        .onoffswitch-inner:before {
            background-color: $white;
            color: $interaction-color;
            content: "ON";
            padding-left: 10px;

        }

        .onoffswitch-inner:after {
            background-color: $white;
            color: $grey-dark;
            content: "OFF";
            padding-right: 10px;
            text-align: right;
        }

        .onoffswitch-switch {
            background: $grey-dark;
            border: 2px solid white;
            border-radius: 0.4em;
            bottom: 0;
            display: block;
            height: 1.6em;
            position: absolute;
            top: 1px;
            transition: all 0.3s ease-in 0s;
            right: 40px;
            width: 1.6em;
        }
        
        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }
        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
            background-color: $interaction-color;
        }
    }
}

.tab-panel{
    display: none;
}

.tab-panel.tab-active{
    display: block;
    padding: 2em;
}